@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

*::selection {
  background-color: #94d0cc;
  color: white;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

input[type="text"] {
  font-size: 13px;
}

.invalid {
  background-color: rgba(0, 0, 0, 0.65) !important;
}
.invalid-input {
  outline-color: red !important;
}
